audio/pcm/*.pcm
build/*
gfx/*.smd
gfx/nemesis/*.smd
gfx/segard/*.smd
includes/palettes/*.bin
includes/palettes/*.txt
includes/tilemaps/*.bin
rom/*
smps/*
z80/*.bin
z80/*.txt
z80/pcm_driver/*.bin
z80/pcm_driver/*.txt
